<div class="container">
    <div class="left">
      <h1>Current Player: {{ player }}</h1>
    </div>
    <div class="right">
        <div class="r1">
            <button (click)="newGame()">Start New Game</button>
            <main>
                <app-square
                *ngFor="let val of squares; let i = index"
                [value]="val"
                (click)="makeMove(i%6)"
                >
                </app-square>
            </main>
        </div>
        <div class="r2">
            <h1 *ngIf="winner">Player {{ winner }} won the game!</h1>
        </div>
    </div>
  </div>
  
  